{% extends 'shared/layout.html' %} {% block maincontent %}
<!-- technically still a fun fact about the piano!-->
<div class="fun-fact">
  <p class="fact">
    Behold piano great and old, it's master slumbers in far off cold, If you
    wish to see anew, call out it - we see you.
  </p>
</div>
<hr />
<div class="background">
  <h1>The Great Old One</h1>
  <div id="piano">
    <!-- ordered in the order of the keys -->
    <div class="key white">A</div>
    <div class="key black">W</div>
    <div class="key white">S</div>
    <div class="key black">E</div>
    <div class="key white">D</div>
    <div class="key white">F</div>
    <div class="key black">T</div>
    <div class="key white">G</div>
    <div class="key black">Y</div>
    <div class="key white">H</div>
    <div class="key black">U</div>
    <div class="key white">J</div>
    <div class="key white">K</div>
    <div class="key black">O</div>
    <div class="key white">L</div>
    <div class="key black">P</div>
    <div class="key white">;</div>
  </div>
</div>
{% endblock %}
